<ion-header>
  <ion-toolbar class="header">
    <ion-title>Países del Mundo</ion-title>
  </ion-toolbar>
  <ion-toolbar class="search-bar-container">
    <ion-searchbar
      [(ngModel)]="searchTerm"
      (ionInput)="updateSearch()"
      placeholder="Buscar país...">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @if (countryService.countries().length === 0 && !searchTerm) {
      <ion-item lines="none">
        <ion-label class="ion-text-center">Cargando países...</ion-label>
      </ion-item>
    } @else if (countryService.countries().length === 0 && searchTerm) {
      <ion-item lines="none">
        <ion-label class="ion-text-center">No se encuentran coincidencias</ion-label>
      </ion-item>
    } @else {
      @for (country of countryService.countries(); track country.cca3) {
        <ion-item button [routerLink]="['/detail', country.cca3]">
          <ion-avatar slot="start">
            <img [src]="country.flags.png" [alt]="country.name.common">
          </ion-avatar>
          <ion-label>
            <h2>{{ country.name.common }}</h2>
            <p>{{ country.capital?.[0] || 'Sin capital' }}</p>
          </ion-label>
        </ion-item>
      }
    }
  </ion-list>
</ion-content>
